
<mat-card>

  <mat-form-field class="filter-form-field">
    <mat-label>Pesquisar Produto</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let row">{{ row.categoria.nome }}</td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
    </ng-container>

    <!-- Preço Column -->
    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef class="align-right" >Preço</th>
      <td mat-cell *matCellDef="let row" class="align-right" >{{ row.preco | currency: "BRL"}}</td>
    </ng-container>


    <!-- Preço Column -->
    <ng-container matColumnDef="dataValidade">
      <th mat-header-cell *matHeaderCellDef class="align-center" >Data Validade</th>
      <td mat-cell *matCellDef="let row" class="align-center" >{{ row.dataValidade | date: "dd/MM/yyyy"}}</td>
    </ng-container>

    <!-- Produto Ativo Column -->
    <ng-container matColumnDef="ativo" class="align-center">
      <th mat-header-cell *matHeaderCellDef class="align-center">Ativo</th>
      <td mat-cell *matCellDef="let row" class="align-center">{{ row.ativo ? "SIM" : "NÃO"}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" class="align-center">
      <th mat-header-cell *matHeaderCellDef class="align-center">Ações</th>
      <td mat-cell *matCellDef="let row" class="align-center">
        <a routerLink="/produto/update/{{ row.id }}" class="edit">
          <i class="material-icons">edit</i>
        </a>
        <a (click)="deleteProdutoById(row.id)" class="delete">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell"
        [colSpan]="displayedColumns.length" class="font-msg">
        Nenhum produto encontrado na pesquisa "{{input.value}}"
    </td>
  </tr>

  </table>

  <mat-card>
