<mat-card>
  <mat-card-title>
    {{categoria.id != 0 ? 'Editar Categoria' : 'Nova Categoria'}}
  </mat-card-title>

  <form>
    <mat-form-field>
      <mat-label>Nome da Categoria</mat-label>
      <input matInput name="nome" [(ngModel)]="categoria.nome">
    </mat-form-field>
  </form>

  <div>
    <button
      mat-raised-button
      color="primary"
      (click) = "saveCategoria()"
      >


      {{categoria.id != 0 ? 'Editar' : 'Salvar'}}
    </button>
    <button mat-raised-button color="warn" (click)="cancel()" style="margin-left: 5px;">
      Cancelar
    </button>
  </div>

</mat-card>
